/*sass sheet*/
$BackgroundPage: #c3cfe2;
$BackgroundFooter: #686de0;
$BackgroundText: #fff;
$primaryTxt : steelblue;
$primaryBrdr : grey;
$h3Colour: rgb(199, 6, 54);
$socialbuttons: 20px;
$hoversocialbuttons: 100px;
