/*sass sheet*/
$BackgroundPage: #c3cfe2;
$BackgroundFooter: #686de0;
$BackgroundText: #fff;
$primaryTxt : steelblue;
$primaryBrdr : grey;
$h3Colour: rgb(96, 91, 175);

body{
    background-color: $BackgroundPage;
}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-container{
    display: flex;
    flex-direction: column;
    border-radius: 20px 20px 0px 0px;
    background: $BackgroundText;
    width: 500px;
    height: 500px;
    padding: 40px;
    justify-content: center;
    align-items: center;
    z-index: 1;


}

p{
    font-size: 20px;
}
.avatar{
    border: 10px solid  $BackgroundText;
    padding: 0%;
    margin: 0%;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    z-index: 2;
    top: 460px;
    position: absolute;
}

.testimonial{
    display: flex;
    flex-direction: column;
    background-color: $BackgroundFooter;
    width: 500px;
    height: 250px;
    border-radius: 0px 0px 20px 20px;
    padding: 40px;
    align-items: center;
    justify-content: center;

}
h2{
    color: $BackgroundText;
    size: relative;
}
h3{
    color: $h3Colour;
    size: relative;
}

/*second assignment*/

.portfolio-grid{
    display: block;
    margin-top: 10px;
    position: relative;
}

.grid-cell{
    position: relative;
}
.avatar-grid{
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    size: relative;

}

button{
    background-color: $BackgroundFooter;
    color: $BackgroundPage;
    width: 93%;
    height: 97%;
    margin-bottom: 10px;
    border-radius: 10px;
    top: 0;
    left: 0;
    size: relative;
    position: absolute;
    visibility:hidden;
    opacity: 90%;
    transition-duration: .3s;
    transition-timing-function: ease-in;
}
.grid-cell {
   &:hover {
        button {
        visibility: visible;
            }
         }
    }

@media screen and (min-width: 768px) {
.portfolio-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    }
.avatar-grid{
    width: auto;
    height: auto;
    margin-top: 10px;
    margin-right: 10px;
    max-width: 95%;
    max-height: 95%;
}
}

@media screen and (min-width: 1024px) {
.portfolio-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
}