h2{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#submit-task{
    text-align: center;
}

li{
    max-width: 500px;
    border-top: 2px solid gray;
    border-left: 2px solid gray;
    border-bottom: 0px;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    margin: 0px;
    padding: 10px;
}
img{
    position: absolute;
    left: 500px ;
}

